<form>

  <div class="container margem-superior">
    <div class="form-group box">
    &nbsp;
    <br>
    <h3> Categoria</h3>
    &nbsp;
    <br>
    <span class="p-float-label">
    <input type="text" class="form-control" id="Categoria"  pInputText>
    <label for="Categoria" >Tipo de Categoria</label>
    </span>
    &nbsp;
    <br>
    <span class="p-float-label">
    <input type="string" class="form-control" id="Valor"  pInputText>
    <label for="Valor">Valor</label>
    </span>
    &nbsp;
    <br>
    <span class="p-float-label">
    <input type="string" class=" form-control" id="Quantidade"  pInputText>
    <label for="Quantidade">Quantidade</label>
    </span>
    &nbsp;
    <br>
    <button class="btn btn-secondary button cadastrar"> Cadastrar Categoria</button>
    &nbsp;
    <button class="btn btn-primary button cancelar"> LIMPAR </button>
    </div>
  </div>

</form>
