.margem-superior{
  width: 40%;
}

.logo{
  width: 5.95rem;
  margin: 0 0 0 40%;
}

h3{
  text-align: center;
  color: black;
}

h5{
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 2rem
}

.input:focus{
  border: 1px solid red;
}

.box{
  width: 70%;
  position: relative;
  top: 10%;
  left: 5.3rem;
}

label{
  font-weight: 600;
}

.informacao{
  display: flex;
}

#telefone, #email{
  width: 235px;
}

#email, #confirmaSenha{
  margin-left: 40px;
}

button{
  width: 100%;
  height: 2.75rem;
}

.button:hover{
  opacity: 0.75;
  transition: 0.75s;
}

.cadastrar{
  background: red;
  color: white;
  border: none;
}

.cancelar{
  background: white;
  color: red;
  border: 1px solid red;
}
