  
  <div class="container margem-superior">
    <div class="form-group box">
      <img class="logo" src="../../assets/imagens/pyyg-PhotoRoom.png-PhotoRoom.png" alt="ifood-logo">
      <h3>Cadastra-se</h3>
        <h5>Preencha seus dados de cadastro</h5>

        <span class="p-float-label">
          <input [(ngModel)] = "registerRequest.firstname" type="text" class="form-control" id="nome" name="firstname" pInputText>
          <label for="firstname">Nome</label>
        </span>
        &nbsp;
        <br>
        <span class="p-float-label">
          <input [(ngModel)] = "registerRequest.lastname" type="text" class="form-control" id="lastname" name="lastname" pInputText>
          <label for="lastname">Sobrenome</label>
        </span>
        &nbsp;
        <br>
        <span class="p-float-label">
          <input [(ngModel)] = "registerRequest.cpf"  type="text" class="form-control" id="cpf" name="cpf" pInputText>
          <label for="cpf">CPF</label>
        </span>

        &nbsp;
        <br>

       
          <span class="p-float-label">
            <input [(ngModel)] = "registerRequest.phone" type="text" class="form-control" id="telefone" name="phone" pInputText>
            <label for="phone">Telefone</label>
          </span>
          <br>
          <span class="p-float-label">
            <input [(ngModel)] = "registerRequest.email" type="text" class=" form-control" id="email" name="email" pInputText>
            <label id="email" for="email">Email</label>
          </span>
        
        &nbsp;

        <div class="informacao">
          <span class="p-float-label">
            <p-password [(ngModel)] = "registerRequest.password" [toggleMask]="true" id="senha"></p-password>
            <label for="senha">Senha</label>
          </span>
          <br>
          <span class="p-float-label">
            <p-password [toggleMask]="true" id="senha"></p-password>
            <label id="confirmaSenha" for="confirmaSenha">Confirmação de senha</label>
          </span>
        </div>

        &nbsp;

        <button class="btn btn-secondary button cadastrar" (click)="register()"> CADASTRAR </button>
        &nbsp;
        <button class="btn btn-primary button cancelar"> LIMPAR DADOS </button>
    </div>
  </div>
