<form [formGroup]="form" class="conteudo">
  <div class="container margem-superior">
    <div class="form-group box">
      <img class="logo" src="../../assets/imagens/ifood-logo.png" alt="ifood-logo">
      <h3>Cadastra-se</h3>
        <h5>Preencha seus dados de cadastro</h5>
      <div class="informacao">
        <span class="p-float-label">
          <input type="text" class="form-control" id="nome" name="nome" formControlName="name" pInputText>
          <label for="usuario">Nome</label>
        </span>
        <span class="p-float-label">
          <input type="text" class="form-control" id="cpf" name="cpf" formControlName="cpf" pInputText>
          <label for="cpf">CPF</label>
        </span>
      </div>
        &nbsp;
        <br>
        <div class="informacao">
          <span class="p-float-label">
            <input type="text" class="form-control" id="telefone" name="telefone" pInputText>
            <label for="telefone">Telefone</label>
          </span>
          <span class="p-float-label">
            <input type="text" class=" form-control" id="email" name="email" formControlName="email" pInputText>
            <label for="email">Email</label>
          </span>
        </div>
        &nbsp;
        <div class="informacao">
        <span class="p-float-label">
          <p-password [toggleMask]="true" id="senha" formControlName="password"></p-password>
          <label for="password">Senha</label>
        </span>
        <span class="p-float-label">
          <p-password [toggleMask]="true" id="confirmaSenha"></p-password>
          <label for="password">Confirmação de senha</label>
        </span>
        </div>
        &nbsp;
        <div class="informacao">
          <span class="p-float-label">
            <input type="text" class="form-control" id="cep" name="cep" pInputText>
            <label for="cep">CEP</label>
          </span>
          <span class="p-float-label">
          <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" disabled pInputText>
          <label for="bairro">Bairro</label>
        </span>
        </div>
        &nbsp;
        <div class="informacao">
          <span class="p-float-label">
          <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="Rua" disabled pInputText>
          <label for="logradouro">Rua</label>
        </span>
          <span class="p-float-label">
            <input type="text" class="form-control" id="numero" name="numero" pInputText>
            <label for="numero">Número</label>
          </span>
        </div>
        &nbsp;
          <span class="p-float-label">
          <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" disabled pInputText>
          <label for="cidade">Cidade</label>
        </span>
        <br>
        <button class="btn btn-secondary button cadastrar" (click)="onSubmit()"> CADASTRAR </button>
        &nbsp;
        <button class="btn btn-primary button cancelar"> LIMPAR DADOS </button> <!-- provisóriamente sem validação -->
    </div>
  </div>
</form>
