<div class="container margem-superior">
  <div class="form-group box">
      <img class="logo" src="../../assets/imagens/pyyg-PhotoRoom.png-PhotoRoom.png" alt="ifood-logo">
      <h3>Faça seu login</h3>
      <h5>insira seus dados de usuario e senha</h5>
      <p>Usuario</p>
      <input  [(ngModel)] = "authRequest.email" id="usuario" type="text" class="form-control input" placeholder="Nome do usuário">
      &nbsp;
      <p>Senha</p>
      <input [(ngModel)] = "authRequest.password" id="senha" type="password" class="form-control input" placeholder="Senha">
      <br>
      <button  (click)="login()" class="btn btn-primary button entrar"> ENTRAR RESTAURANTE</button> <!-- provisóriamente sem validação -->
      &nbsp;
      <button (click)="ChangeHome()" class="btn btn-secondary button cancelar"> ESTOU COM PROBLEMAS PARA ACESSAR </button>
  </div>
</div>
