<div class="container">
    <div class="cab">
        <span>Dados da entrega</span>
    </div>
    <div class="endereco">
        <div class="dados">
            <span><strong>Rua:</strong> {{'Rua dos Alfredos 403'}}</span>
        </div>
        <div class="tempo">
            <strong>Tempo de espera:</strong> {{'2hrs'}}
        </div>
    </div>
    <div class="cab">
        <span>Acompanhe seu pedido</span>
    </div>
    <div class="status">
        <strong>Status pedido:</strong> {{'Aguardando pagamento'}}
    </div>

    <button class="btn-voltar">
        VOLTAR
    </button>
</div>