<header>
  <div class="cabeca-flex">
      <div>
          <table>
              <tr>
                  <td><a routerLink=""><img class="logo" src="../../assets/imagens/pyyg-PhotoRoom.png-PhotoRoom.png"></a></td>
                  <td><a href="">Entregador</a></td>
                  <td><a routerLink="Restaurantes">Restaurante e Mercado</a></td>
                  <td><a href="">Carreiras</a></td>
                  <td><a href="">iFood Card</a></td>
                  <td><a routerLink="Produto" href="">Produto</a></td>
                  <td><a routerLink="Categoria" href="">Categoria</a></td>

              </tr>
          </table>
      </div>

      <div class="direita">
        <td>
          <a pButton routerLink="ShoppingCart" class="carrinho" icon="pi pi-shopping-cart"><span class="span-carrinho">{{5}}</span></a>
        </td>

        <td><button (click)="showModalDialog()" class="text-red criar">Criar conta</button>
          <p-dialog header="CADASTRO" [(visible)]="displayModal" [modal]="true" [style]="{width: '23vw'}"
            [draggable]="false" [resizable]="false">
            <div class="div-alguma">
              <button icon="pi pi-briefcase" pButton class="Restaurante button"><a routerLink="Cadastro-Restaurante" (click)="displayModal=false" class="a-modal" style="color: white">RESTAURANTE</a></button>
              <button icon="pi pi-user" pButton class="button"><a routerLink="Cadastro-Usuario" (click)="displayModal=false" class="a-modal" style="color: white">CLIENTE</a></button>
            </div>
        </p-dialog></td>

        <td><button (click)="showModalDialog2()" class="button-red">Entrar</button>
        <p-dialog header="ENTRAR" [(visible)]="displayModal2" [modal]="true" [style]="{width: '23vw'}"
            [draggable]="false" [resizable]="false">
            <div class="div-alguma">
              <button icon="pi pi-briefcase" pButton class="Restaurante button"><a routerLink="Login-restaurante" (click)="displayModal2=false" class="a-modal" style="color: white">RESTAURANTE</a></button>
              <button icon="pi pi-user" pButton class="button"><a routerLink="Login" (click)="displayModal2=false" class="a-modal" style="color: white">CLIENTE</a></button>
            </div>
        </p-dialog></td>
        <!--
          <td><button id="sla" pButton icon="pi pi-user"><a id="use" routerLink="Dados" href=""></a></button></td>
        -->
      </div>
  </div>
</header>
