

    <h2 class="mb-3">Meus Endereços</h2>
    <div class="container margem-superior">
      <button icon="pi pi-plus-circle"  pButton  (click)="newContact()">asdasds</button>
      <div class="card">
    <p-table [value]="endereco" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
      <tr>
        <th>Rua</th>
        <th>Bairro</th>
        <th>Numero</th>
        <th>Cep</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-endereco>
      <tr>
        <td>{{ endereco.street }}</td>
        <td>{{ endereco.neighborhood}}</td>
        <td>{{ endereco.number}}</td>
        <td>{{ endereco.cep }}</td>
        <td>{{ endereco.city }}</td>
        <td>{{ endereco.state }}</td>
        <td class="text-center">
          <button icon="pi pi-pencil" pButton class="editAddress"(click)="editAddress(endereco.id)">&nbsp;</button>
          <span>&nbsp;|&nbsp;</span>
          <button icon="pi pi-trash" pButton class="deleteAddress" (click)="confirmDelete(endereco.id)">&nbsp;</button>>
        </td>
    </ng-template>
    </p-table>
  </div>
</div>
  
  
  <!-- Modal 
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         Deseja mesmo deletar o endereco
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelDelete()">
            <em class="fas fa-times"></em>&nbsp;Close
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()">
            <em class="fas fa-trash"></em>&nbsp;Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  -->