@import 'material-icons/iconfont/material-icons.css';

body{
    height:20rem;
}

.flex-conteudo{
    display: flex;
    flex-direction: column;
}

input{
    direction: ltr;
    padding-left: 2rem;
    border: none;
}

img {
    transition: transform .3s;
    border-radius: 1rem;
}

.img-carousel {
    width: 200px!important;
    height: 150px;
}

img:hover{
    transform: scale(1.06);
}

.container-buscar {
  margin-left: 20rem;
}

.conteudo{
    padding-top: 2rem;
}

.tittle-principal{
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 35px;
}

.tittle-secundario{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: grey;
}

.button-red{
    margin: 0.25rem 0 0 0;
    background: red;
    color: white;
    border-radius: 6px;
    border: none;
    height: 44px;
    cursor: pointer;
    width: 200%;
    justify-content: center;
    font-size: 1rem;
}

.input-buscar{
    margin-top: 2.5rem;
    margin-left: 10rem;
}

.icon-placeholder{
    margin-top: 0.73rem;
    margin-left: 0.3rem;
    position: absolute;
    color: red;
}

.search-bar{
    margin-top: 0.3rem;
    position: inherit;
    height: 44px;
    border: 1px solid black;
}

.search-bar:focus{
    border: 1px solid red;
}

.img-cima{
    width: 35%!important;
    height: 100%;
    margin-right: 20px;
}

.img-baixo{
    width: 15%!important;
    height: 100%;
    padding: 7px;
    left: 18rem;
}

.img-link-cima{
    bottom: 7rem;
    margin-right: 10px!important;
}

.img-link-baixo{
    bottom: 5rem;
}

.linha{
    position: relative;
    left: 2rem;
    bottom: 1rem;
}

.row{
    width: 100%;
    margin: 0  0 1rem -7rem ;
}

.row-baixo{
    margin-left: 25.5rem;
}

.footer{
    border-top: 1px solid black;
    margin: 1rem 0 0 0;
    width: 95%;
}
