
  <div class="container margem-superior">
    <div class="form-group box">
      &nbsp;
      <br>
      &nbsp;
      <br>
      <h3>Produtos</h3>
      &nbsp;
      <br>
        <h5>Preencha os dados do Produto</h5>
      <div>
        &nbsp;
        <br>
        <span class="p-float-label">
          <input type="text" class="form-control" id="Produto" [(ngModel)]="produto.name" pInputText>
          <label for="Produto">Nome do Produto</label>
        </span>
        &nbsp;
        <br>
      </div>

      <div class="informacao">
        <span class="p-float-label">
          <input type="text" class=" form-control" id="Valor" [(ngModel)]="produto.price" pInputText>
          <label for="Valor">Valor</label>
          </span>
        <p-dropdown id="categoria" [options]="categoryList" [(ngModel)]="categoria" optionLabel="name" placeholder="Categoria"></p-dropdown>
      </div>

    &nbsp;
    <br>
     <span class="p-float-label">
     <input type="text" class=" form-control" id="Quantidade" pInputText>
     <label for="Quantidade">Quantidade</label>
     </span>
    &nbsp;
    <br>
    <button class="btn btn-secondary button cadastrar" (click)="salvarProduto(categoria.id!)"> CADASTRAR PRODUTO </button>
        &nbsp;
    <button class="btn btn-primary button cancelar"> LIMPAR </button>
    </div>
  </div>

