<div class="margem-superior">
  <span class="titulo">Restaurantes</span>
  <div class="restaurantes">
  <p-table [value]="restaurantes">
    <ng-template pTemplate="body" let-restaurantes>

        <tr>
          <div class="restaurantes-individual">
          <div style="display: flex; padding: 0.25rem 1rem 0 0;">
            <div>
                <img alt="Card" src="assets/imagens/feijoada.jpg" class="img-restaurantes">
            </div>
            <div style="margin-left: 1rem;">
                <span><strong>{{restaurantes.name}}</strong></span>
            </div>
          </div>
          <button pButton class="btn-add" label="Comprar" icon="pi pi-arrow-up-right" (click)="goToProduct()"></button>
        </div>
        </tr>

    </ng-template>
  </p-table>
</div>
</div>
